doctype html
html(lang="eng")
    head
        link(rel='stylesheet', href='/css/skeleton.css')
        link(rel='stylesheet', href='/css/normalize.css')
        link(rel='stylesheet', href='/css/header.css')
        link(rel='stylesheet', href='/css/main.css')
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
        script(src='/js/jquery-2.1.3.min.js')
        script(src='/js/domActions.js')
    block title
            title expence
    body
        div.container
            div.header
                div.row
                    div(class='two columns navbar')
                        div.logo
                            h4.maintitle
                                a.titlelink(href='/') expence
                    div(class='ten columns navbar')
                        div.usermenu
                            if user
                                span welcome, #{user.username}&nbsp;
                                a(class="button" href="/expenses/new") add expense
                                a(class="button" href="/logout") logout
                            else
                                a(class="button" href="/login") login
                                a(class="button" href="/register") register
            block content