doctype html
html(lang="eng")
    head
        block title
            title expence
    body
        h2 expence
        if isLogged === true
            span welcome, #{username}&nbsp;
            a(href="logout") logout
        else
            span please&nbsp;
            a(href="login") login
            span &nbsp;or&nbsp;
            a(href="register") register
        block content