doctype html
html(lang="eng")
    head
        block title
            title expence
    body
        h2 expence
        if isLogged === true
            span welcome, #{user.username}&nbsp;
            a(href="logout") logout
            span &nbsp;
            a(href="/expenses/new") add new expense
            span &nbsp;
            a(href="/expenses") see expenses
        else
            span please&nbsp;
            a(href="login") login
            span &nbsp;or&nbsp;
            a(href="register") register
        block content