h2 login
form(method='post' action='login')
    p
        input(type="text" name="email" value="" placeholder="email")
    p
        input(type="password" name="password" value="" placeholder="password")
    p
        input(type="submit" value="login")