a.titlelink {
    text-decoration: none;
    color: black;
}

a.button {
    margin: 0 5px 0 5px;
    padding: 0 15px;
}

div.header {
    height: 50px;
    margin-bottom: 30px;
}

div.navmenu {
    text-align: center;
}

div.row {
    margin: 30px 0 0 0;
    height: 100%;
}

h4.maintitle {
    margin: 0;
}