a.titlelink {
    text-decoration: none;
    color: black;
}

a.button {
    margin: 0 5px 0 5px;
    padding: 0 15px;
}

div.header {
    height: 50px;
    margin-bottom: 30px;
}

div.row {
    height: 100%;
}

div.navbar {
    height: 100%;
}

div.two.columns.navbar {
    position: relative;
}

div.ten.columns.navbar {
    margin-left: 0;
    position: relative;
}

div.usermenu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

h4.maintitle {
    margin: 0;
}