extends ../layout/layout

block content
    h4 Please add an expense:
    form(method="post" action="/expenses")
        include ../partials/expense-form
        p
            input(class="button-primary" type="submit" value="submit")